bin/
.classpath
*.class

target/classes/META-INF/maven/ATW80Q/ATW80Q/pom.properties
*.class
*.class
target/classes/playground/Constants.class
target/classes/playground/init/DummyInitializer.class
target/classes/playground/logic/ActivityEntity.class
target/classes/playground/logic/ActivityService.class
target/classes/playground/logic/ElementEntity.class
target/classes/playground/logic/jpa/JpaActivityService.class
target/classes/playground/logic/jpa/jpaElementService.class
target/classes/playground/logic/jpa/jpaUserService.class
target/classes/playground/logic/stubs/DummyActivityService.class
target/test-classes/playground/layout/ElementTest.class
target/classes/META-INF/maven/ATW80Q/ATW80Q/pom.properties
*.class
